@import "tailwindcss";

/* FONTS */
@theme {
  --font-outfit: "Outfit", sans-serif;
  --font-ovo: "Ovo", serif;

  /* CUSTOM BOX SHADOWS */
  --shadow-black: 4px 4px 0 #000;
  --shadow-white: 4px 4px 0 #fff;
}

/* FONT UTILITIES */
@utility font-outfit {
  font-family: var(--font-outfit);
}

@utility font-ovo {
  font-family: var(--font-ovo);
}

/* BOX SHADOW UTILITIES */
@utility shadow-black {
  box-shadow: var(--shadow-black);
}

@utility shadow-white {
  box-shadow: var(--shadow-white);
}